body, h1{
    font-family: 'Didact Gothic', sans-serif;
}
h1{
    color: slategray;
}
p{
    text-align: center;
    background-color: slategrey;
    color: white;
    padding: 5px;
}
#sociales{
    color:black;
}
.msj1{
    text-align: center;
}
.msj1 h1{
    font-size: 300%;
}
img{
    width: 100%;
}
.reg{
    text-align: center;
}
#menu{
    padding: 1% 0;
}
.icon_social i:hover{
    color: #ff7a55;
}
#index-menu .nav-link{
    color: #ff7a55;
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    font-weight: 100;
}
#index-menu .nav-link:hover{
    color: gray;
    border-bottom: solid;
    border-color: gray;
    border-bottom-width: 3px;
}
#pestanas{
    padding-top: 1%;
}
#pestanas .active{

}

.contenidoBusqueda{
    width: 1800px;
    max-width: 150%;
    padding: 1cm 1cm 1cm 1cm;
    margin: 2px 2px 2cm 2cm;

}
.boton3{
    width: 5cm;
    height: 1cm;
    background: #ff7a55;
    border: none;
    border-radius: 25px;
    font-size: 100%;
    color: #ffffff;
    opacity: 0.8;
    padding: 1%;
}

.logo{
    max-width: 250px;
    height: 80px;
}

.boton1{
    width: 150px;
    height: 40px;
    background: slategrey;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    color: white;
}
.boton1:hover{
    background: beige;
    color: black;
}
.distancia{
    padding-left: 25%;
}
i{
    color: slategray;
    padding-bottom: 5px;
}
a{
    font-size: 20px;

}
a:hover{
    color:black;
}
.fondo{
    position: absolute;
}
.pos{
    z-index: 200;
}
.social{
    margin-top: 20%;
    padding-left: 2%;
}
.demo{
    margin-top: 20%;
}
.demo .card{
    border: none;
}
.boton2{
    width: 60%;
    height: 50px;
    background: #ffffff;
    border:solid;
    border-radius: 25px;
    border-color: #ff7a55;
    font-size: 25px;
    color: #ff7a55;
    opacity: 1;
    padding: 1%;
    margin-left: 20%;
}
.boton2:hover{
    background: gray;
}
#demo1{
    font-size: 150%;
}
#demo2{
    margin-top: 3%;
}
#demo3{
    margin-top: 3%;
}
.close{
    position: absolute;
    margin-left: 96%;
    margin-top: 2%;
    color: red;
}
#sociales{
    /*padding-left: 20%;*/
    text-align: center;
}
#sociales i{
    width: 50px;
    /*height: 0px;*/
    font-size: 30px;
    background: slategray;
    color: white;
    border: none;
    border-radius: 100%;
    text-align: center;
    padding-top: 5px;
}
#contactos{
    background: darkgrey;
    margin-top: 5%;
    padding-top: 4%;
}
#datos_cont i{
    color: black;
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 3%;
}
