{% extends "::base.html.twig" %}

{% block title %}AppBundle:administrador:registroCooperativa{% endblock %}

{% block body %}
<h1>Welcome to the administrador:registroCooperativa page</h1>
{% endblock %}
