{% extends "::base.html.twig" %}

{% block title %}AppBundle:administrador:registroEmpleados{% endblock %}

{% block body %}
<h1>Welcome to the administrador:registroEmpleados page</h1>
{% endblock %}
